<form [formGroup]="formGroup">
  <rw-table
    formArrayName="posts"
    [apiName]="apiName()"
    [searchTemplate]="searchTemplate()"
    [editTemplate]="editTemplate()"
    [rows]="items()"
    [totalRecords]="totalRecords()"
    [isLoading]="isLoading()"
    [rowStyleClass]="generateRowClasses"
    [cellStyleClass]="generateCellClasses"
    [(oDataParameters)]="oDataParameters"
    selectionMode="multiple"
    [(selectedRows)]="selection"
    [rowHover]="true">
  </rw-table>
</form>
Selection:
<pre>{{selection() | json}}</pre>
Form value:
<pre>{{formArray.value | json}}</pre>
