<form>
  <rw-table
    [formArray]="formArray"
    [apiName]="apiName"
    [searchTemplate]="searchTemplate"
    [editTemplate]="editTemplate"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [isLoading]="isLoading"
    [rowStyleClass]="generateRowClasses"
    [cellStyleClass]="generateCellClasses"
    (onFilterOrSortChanged)="load($event)"
    (onRowSelect)="onRowSelect($event)"
    (onRowUnselect)="onRowUnselect($event)"
    selectionMode="multiple"
    [(selection)]="selection"
    [rowHover]="true">
  </rw-table>
</form>
Selection:
<pre>{{selection | json}}</pre>
Form value:
<pre>{{formArray.value | json}}</pre>
