img.thumbnail {
    height: calc(1rem + 2*8px + 2*1px);
    cursor: zoom-in;
    border-radius: 3px;
}

a {
  text-decoration: none;
}

  a.p-button-icon-only span.p-button-label {
    height: 1rem !important;
  }
