@if (property() && property()?.type !== PropertyType.Hidden) {
    <val-errors [controlName]="name()">
        <ng-template valError="required"><p-message severity="error" variant="simple" size="small">The field '{{prompt()}}' is required.</p-message></ng-template>
        <ng-template valError="email"><p-message severity="error" variant="simple" size="small">'{{prompt()}}' must be a valid email address.</p-message></ng-template>
        <ng-template valError="min" let-error="error"><p-message severity="error" variant="simple" size="small">'{{prompt()}}' must be equal or greater than or equal to {{ error.min }}.</p-message></ng-template>
        <ng-template valError="max" let-error="error"><p-message severity="error" variant="simple" size="small">'{{prompt()}}' must be smaller than or equal to {{ error.max }}.</p-message></ng-template>
        <ng-template valError="minlength" let-error="error"><p-message severity="error" variant="simple" size="small">The length of '{{prompt()}}' must be equal or greater than or equal to {{ error.requiredLength }}.</p-message></ng-template>
        <ng-template valError="maxlength" let-error="error"><p-message severity="error" variant="simple" size="small">The length of '{{prompt()}}' must be shorter than or equal to {{ error.requiredLength }}.</p-message></ng-template>
        <ng-template valError="pattern" let-error="error"><p-message severity="error" variant="simple" size="small">The value for '{{prompt()}}' does not match the pattern {{ error }}.</p-message></ng-template>
        <ng-template valError="remote" let-error="error"><p-message severity="error" variant="simple" size="small">{{ error }}</p-message></ng-template>
    </val-errors>
}
@if (form()) {
    <val-errors [control]="form()!">
        <ng-template valError="remote" let-error="error"><p-message severity="error" variant="simple" size="small">{{ error }}</p-message></ng-template>
    </val-errors>
}
