@let prop = property();
@let val = computedValue();
@switch (prop.type) {

    @case (PropertyType.Text) {
        @if (prop.name === 'createdBy' || prop.name === 'lastChangedBy') {
            <rw-avatar [user]="$any(val)"></rw-avatar>
        }
        @else {
            <span class="w-full">{{val | propertyTypeFormat:prop.type}}</span>
        }
    }
    @case (PropertyType.Bool) {
        <rw-tri-state-checkbox [model]="$any(val)" [readonly]="true" [disabled]="true"></rw-tri-state-checkbox>
    }
    @default {
        <span class="w-full">{{val | propertyTypeFormat:prop.type}}</span>
    }
}
