<div class="flex align-items-center">
  <p-button *ngIf="!uri" [disabled]="true" icon="pi pi-download" class="mr-1" pTooltip="No image present"></p-button>
  <a *ngIf="uri" [href]="uri | safeUrl" [download]="fileName || 'download'" class="mr-1" pButton pTooltip="Download image" icon="pi pi-download"></a>
  <p-fileUpload class="mr-1" chooseIcon="pi-upload fas fa-upload" mode="basic" [auto]="true" [accept]="accept || 'image/*'" [customUpload]="true" (uploadHandler)="imageChanged($event)" pTooltip="Upload new image"></p-fileUpload>
  <img *ngIf="uri" [src]="uri | safeUrl" [alt]="alt" (click)="showCropDialog()" pTooltip="Zoom and crop" />
</div>

<p-dialog header="alt" [(visible)]="displayCropDialog">
  <image-cropper #cropper
                 [imageFile]="tempImageFile!"
                 [imageURL]="uri!"
                 [maintainAspectRatio]="maintainAspectRatio"
                 [aspectRatio]="aspectRatio"
                 [resizeToWidth]="resizeToWidth"
                 [resizeToHeight]="resizeToHeight"
                 [onlyScaleDown]="onlyScaleDown"
                 [autoCrop]="true"
                 [containWithinAspectRatio]="containWithinAspectRatio"
                 [backgroundColor]="backgroundColor"
                 [format]="format"
                 (imageCropped)="croppedImageChanged($event)"></image-cropper>
  <div class="flex justify-content-end">
    <div class="flex-auto align-items-center">
      <span>Background color:&nbsp;</span>
      <p-colorPicker [(ngModel)]="cropper.backgroundColor" appendTo="body" class="ml-1 mr-1"></p-colorPicker>
      <input pInputText [(ngModel)]="cropper.backgroundColor" />
    </div>
    <button type="button" pButton pRipple (click)="acceptCroppedImage()" class="mr-2">Ok</button>
    <button type="button" pButton pRipple (click)="closeCropDialog()">Cancel</button>
  </div>
</p-dialog>
